script(src='//cdn.bootcss.com/jquery/2.2.1/jquery.js')
script(src='//cdn.bootcss.com/angular.js/1.5.0/angular.js')
script(src='./assets/metroUI/js/metro.min.js')
script(src='//prismjs.com/prism.js')
script(src='./rest-js')