li: a(href="#")
        span.mif-apps.icon
        span.title 测试
        span.counter 0
li: a(href="schedule#")
        span.mif-apps.icon
        span.title 测试2
        span.counter 0
li: a(href="#")
        span.mif-database.icon
        span.title 代码生成
        span.counter 0