li: a(href="#"): del 监控台
li
    a.dropdown-toggle 下拉菜单
    ul.d-menu(data-role="dropdown")
        li: a(hef="") 菜单1
        li.divider
        li
            a.dropdown-toggle(href="") 再次下拉
            ul.d-menu(data-role="dropdown")
                li: a(hef="") 菜单2
                li.divider
                li: a(hef="") 菜单3
 li: a(href="#"): del 系统