/* ----- ͨ�� ----- */

html, body {
	width : 100%;
	height : 100%;
}
.dis-table { display:table;}
.dis-table .dis-table-row { display:table-row; }
.dis-table .dis-table-cell {
	vertical-align:middle;
	display:table-cell;
}
.bg-ffffff { background-color : #ffffff !important;}
.list-item {
	width : 100%;
	height : 48px;
	font-size : 16px;
	color : #444444;
	padding : 13px 25px;
	line-height:22px;
	cursor: pointer;
}
.list-item.list-child { padding-left : 65px; }
.list-item img.icon { 
	width : 22px;
	height : 22px;
	float : left;
}
.list-item .txt { 
	padding-left : 16px;
	float : left;
	width : 136px;
	line-height: 22px;
	height: 22px;
}
.list-item:hover { color : #ff555a; }
.list-item.list-child.sel {
	background-image: url('../images/sel-bg.png');
	background-repeat: no-repeat;
	background-color: #ffffff;
}
.data-list {
	width : 100%;
	color : #4e4e4e;
}
.data-list .data-list-row {
	float : left;
	width : 100%;
	border-bottom : 1px solid #dddddd;
/* 	padding : 0px 10px; */
}
.data-list .data-list-row:first-child { border-top :none; }
.data-list .data-list-row:last-child { border-bottom :none; }
.data-list .dis-table-cell {
	padding : 10px 0px;
	width : 20%;
}
.data-list .data-list-row .data-list-trigger { 
	border-top : 1px solid #dddddd;
	padding : 10px 0px;
	display : none;
}
.txt-left { text-align : left; }
.txt-center { text-align : center; }
.txt-right { text-align : right; }
.font-11{font-size:11px !important;}
.font-12{font-size:12px !important;}
.font-13{font-size:13px !important;}
.font-14{font-size:14px !important;}
.font-15{font-size:15px !important;}
.font-16{font-size:16px !important;}
.font-bold {font-weight: bold; }

input[type='radio'] {vertical-align:middle;}

.main-form { padding : 8px 15px; }
.text-auto {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
}
/* ----- ͨ��-end ----- */
.top {
	width : 100%;
	min-width:1200px;
	height : 68px;
	background : #363636;
	color : #ffffff;
	position: relative;
	top : 0px;
	left : 0px;
	z-index : 3;
}
.login-top {
	width : 100%;
	height : 68px;
	/* background : #363636; */
	color : #ffffff;
	position: relative;
	top : 0px;
	left : 0px;
	z-index : 3;
}
.top .content { padding : 0px 35px; }
.top .content .setup { 
	padding : 9px 0px; 
	cursor: pointer;
}
.left {
	width : 216px;
	height : 100%;
	background : #f5f5f5;
	position: absolute;
	top : 0px;
	left : 0px;
	z-index : 2;
	padding-top : 68px;
}
.right { 
	width: 100%;
	min-width:1200px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index : 1;
	padding-left : 216px;
	padding-top : 68px;
}
.main { 
	width: 100%;
	height: 100%;
}

.rgt-main {
	width : 100%;
	height : auto;
	padding : 0px 10px;
}
.rgt-main .serch-domain {
	width : 100%;
	height : auto;
	background : #f5f5f5;
	padding : 15px 15px 0px 15px;
}
.rgt-main .serch-domain .serch-domain-row {
	width : 100%;
	height : auto;
	padding : 0px 0px 15px 0px;
}
.rgt-main .serch-domain .serch-domain-row .txt {
	height: 33px;
	line-height : 33px;
	border: 1px solid #C6C6C6;
	color : #A9A9A9;
}
.loginDiv {
	position:relative;
	width : 440px;
	height : 520px;
	margin : 10% auto;
	border : 1px solid #E0E0E0;
	border-radius: 5px;
}
.loginDiv .top {
	width : 100%;
	height : 410px;
	background : #ffffff;
	position: relative;
	float : left;
}
.loginDiv .bottom {
	position:absolute;
	bottom:0;
	width : 100%;
	height : 105px;
	background : #f6f9fd;
	float : left;
	text-align : center;
}
.loginDiv .icon_div {
	width : 205px;
	height : 50px;
	margin : 80px auto 0;
	background : url('../images/store-icon.png') no-repeat;
}
.loginDiv .icon_input {
	width : 310px;
	height : 50px;
	margin : 30px auto 0;
}
.loginDiv .icon_input .form-control {
	padding : 8px 10px;
	height : 50px;
	line-height : 34px;
}
.loginDiv .icon_input .input-group-addon {
	padding-left : 20px;
	padding-right : 20px;
}
.loginDiv .login-btn {
	background:#0198f1;
	width:78px;
	height:78px;
	padding-top : 30px;
	border-radius:100%;
	margin : 0 auto;
	font-size:18px;
	color:#ffffff;
	line-height:18px;
	text-align:center;
	position: relative;
	bottom: -60px;
	cursor: pointer;
}
.reg {
	font-family:.PingFangSC-Regular;
	font-size:14px;
	color:#858585;
	letter-spacing:0.1px;
	line-height:17px;
}
.main_404 {
	margin : 10% auto;
	width : 562px;
	text-align : center;
}
.main_404 button {
	position: relative;
	top :30px;
	/* background : #007FEF; */
	color : #FF5139;
	padding : 5px 20px;
	border : 0px;
	background: url('../images/button.png') no-repeat;
	background-size: 100% 100%;
}
.main_nav {
	margin-top : 20px;
}
.msg-div {padding : 15px;}
.main_nav .prompt-div {
	background : #F0F0F0;
	border : 1px solid #cccccc;
	width : 450px;
	font-size : 14px;
	padding : 10px;
}
.main_nav .prompt-div h5 {
	margin : 5px 0px;
}
.main_nav .msg-txt {
	width : 250px;
	height : 80px;
	margin : 10px 0px;
}

.menu-left {
	width : 200px;
	border : 1px solid #dddddd;
}
.menu-title {
	background : #D6DCE7;
	padding : 5px;
}
.menu-group {
	margin : 0 auto;
	width : 180px;
	padding : 10px 0px;
	border-bottom : 1px solid #dddddd;
}
.menu-group>span {
	line-height : 24px;
	width : 160px;
	display : block;
	padding : 5px 0px 5px 5px;
	cursor : pointer;
}
.menu-group>span:hover { background : #D6DCE7; }
.menu-group ul {
	margin : 0px;
	list-style-type : none;
	padding-left : 30px;
	padding-bottom: 10px;
	margin-left : 5px;
}
.menu-group li {
	line-height : 24px;
	padding : 5px 0px 5px 5px;
	cursor : pointer;
}
.menu-group li:hover { background : #D6DCE7; }
.menu-group li.add { 
	color : #83B3EA; 
	cursor : pointer;
}
.menu-group li.add:hover { background : #ffffff; }
.add-menu {
	margin : 0 auto;
	width : 180px;
	color : #83B3EA; 
	cursor : pointer;
	padding : 10px 0px;
}
.menu-right {
	width : 550px;
	height : 400px;
	border : 1px solid #dddddd;
	border-radius : 5%;
	margin-left : 20px;
}
.form-clz {
	padding : 10px 5px;
	margin-top : 30px;
	margin-left : 30px;
	height : 250px;
}
.form-row { padding : 10px 0px; }
.form-row input, .form-row select { 
	height : 25px;
	margin-left : 10px; 
}
.font-9F9C99 { color:#9F9C99; }
.main-handle {
	width : 100%;
	text-align : center;
	margin-top : 5px;
	float : left;
}
.btn-64E0F3 {
	background : #64E0F3;
	color : #fff;
	border : 0px;
	border-radius : 5%;
	padding : 10px 15px;
	font-weight : bold;
}
.btn-64E0F3:hover {
	background : #31B0D5;
	color : #fff;
}
.btn-5CB95C {
	background : #5CB95C;
	color : #fff;
	border : 0px;
	border-radius : 5%;
	padding : 10px 15px;
	font-weight : bold;
}
.btn-5CB95C:hover{
	background : #449D44;
	color : #fff;
}
ul.ladder { background: url(../images/ladder.png) 5px bottom no-repeat; }
.page-info {
	padding : 6px;
	margin : 20px 0px;
}
.page-div li { cursor: pointer;}

.coupon-main {
	width:330px;
	height:120px;
	background:#F44336;
	color:#ffffff;
	border-radius:3%;
	padding:5px 10px;
}
.coupon-title {
	width:100%;
	height:40px;
	font-size:20px;
}
/* 修改样式 */
.setwidth{
	width:70px;
}
